<!DOCTYPE HTML>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<title>Random Word</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
	<h3>Random Word (attempt #@ViewBag.count)</h3>
	<div>@ViewBag.word</div>
	<form action = '/generate' method = 'post'>
		<input type = "submit" value = 'Generate'>
	</form>
	<form action = '/reset' method = 'post'>
		<input type = "submit" value = 'Reset'>
	</form>
</body>
</html>
